{% extends 'base.html' %}
{% load static %}

{% block title %} Blog - {{setting.name}} {{setting.surname}}{% endblock %}

{% block content %}
    
        <!-- bradcam_area  -->
        <div class="bradcam_area bradcam_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text text-center">
                            <h3>Blog</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /bradcam_area  -->
<!---------------Message ----------->
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible mt-4 " role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close">
<span aria-hidden="true">&times;</span></button>
    {{ message }}
</div>
{% endfor %}		
{% endif %}

    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">

                        {% for post in queryset %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{{post.image.url}}" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>{{post.created_date|date:'d'}}</h3>
                                    <p>{{post.created_date|date:'M'}}</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{{post.get_absolute_url}}">
                                    <h2>{{post.title}}</h2>
                                </a>
                                <p>{{post.overview}}</p>
                                <ul class="blog-info-link">
                                    <li><i class="fa fa-user"></i> 
                                        {% for category in post.categories.all %}
                                       <span>{{category.title}}</span>                                   
                                     {% endfor %}
                                </li>
                                    <li><i class="fa fa-clock-o"></i>{{post.created_date|date:'d M Y'}}</li>
                                </ul>
                            </div>
                        </article>

                        {% endfor %}

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                {% if queryset.has_previous %} 
                                <li class="page-item">
                                    <a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                {% endif %}
                                <li class="page-item active">
                                    <a href="?{{ page_request_var }}={{ queryset.number }}" class="page-link">{{ queryset.number }}</a>
                                </li>
                                {% if queryset.has_next %}
                                <li class="page-item">
                                    <a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="{% url 'search' %}" >
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="search" name="q" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btn" type="submit"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                             {% for cat in category_count %}
                                <li>
                                    <span class="d-flex">
                                        <p>{{cat.categories__title}}</p>
                                        <p>({{cat.categories__title__count}})</p>
                                    </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Recent Post</h3>
                            {% for last_post in most_recent %}
                            <div class="media post_item">
                                <img src="{{last_post.image.url}}"height="80" width="80" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>{{last_post.title}}</h3>
                                    </a>
                                    <p>{{last_post.created_date|date:'d M Y'}}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                {% for tag in tag_count %}
                                <li>
                                    <span>{{tag.tags__title}}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>

                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Subscribe</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->

{% endblock %}

{% block footer_content %}
{% include 'footer.html' with setting=setting %}
{% endblock %}