{% extends 'base.html' %}
{% load static %}

{% block title %} {{post.title}} - {{setting.name}} {{setting.surname}}{% endblock %}

{% block content %}

 
     <!-- bradcam_area  -->
     <div class="bradcam_area bradcam_bg_1">
         <div class="container">
             <div class="row">
                 <div class="col-xl-12">
                     <div class="bradcam_text text-center">
                         <h3>{{post.title}}</h3>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- /bradcam_area  -->
     	<!---------------Message ----------->
				{% if messages %}
				{% for message in messages %}
			<div class="alert alert-success alert-dismissible " role="alert">
			  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span></button>
					{{ message }}
			</div>
				{% endfor %}		
			{% endif %}

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{post.image.url}}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{post.overview}}</h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><i class="fa fa-user"></i>
                           {% for cat in post.categories.all %}
                          <span>{{cat.title}}</span> 
                           {% endfor %}
                        </li>
                        <li><i class="fa fa-eye"></i> {{post.view_count}} Views</li>
                        <li><i class="fa fa-clock-o"></i> {{post.created_date|date:'d M Y'}}</li>
                        {% if user.is_superuser %}
                        <li>
                           <a href="{% url 'blog-update' slug=post.slug %}" class="btn btn-primary">Update</a>
                           <a href="{% url 'blog-delete' slug=post.slug %}" class="btn btn-danger">Delete</a>  
                        </li>
                        {% endif %}
                     </ul>

                     <p>
                        {{post.description}}
                     </p>
                     
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="navigation-area">
                     <div class="row">
                        {% if post.previous_post %}
                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="{{post.previous_post.get_absolute_url}}">
                                 <img class="img-fluid" height="50" width="50" src="{{post.previous_post.image.url}}" alt="">
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="{{post.previous_post.get_absolute_url}}">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href="{{post.previous_post.get_absolute_url}}">
                                 <h4>{{ post.previous_post.title}}</h4>
                              </a>
                           </div>
                        </div>
                        {% endif %}
                        {% if post.next_post %}
                        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Next Post</p>
                              <a href="{{post.next_post.get_absolute_url}}">
                                 <h4>{{ post.next_post.title}}</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="{{post.next_post.get_absolute_url}}">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="{{post.next_post.get_absolute_url}}">
                                 <img class="img-fluid" height="50" width="50" src="{{post.next_post.image.url}}" alt="">
                              </a>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                  </div>
               </div>
               
               
            </div>
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget search_widget">
                     <form action="{% url 'search' %}">
                        <div class="form-group">
                           <div class="input-group mb-3">
                              <input type="search" name="q" class="form-control" placeholder='Search Keyword'
                                 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                              <div class="input-group-append">
                                 <button class="btn sbmtmt" type="submit"><i class="ti-search"></i></button>
                              </div>
                           </div>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Search</button>
                     </form>
                  </aside>
                  <aside class="single_sidebar_widget post_category_widget">
                     <h4 class="widget_title">Category</h4>
                     <ul class="list cat-list">
                        {% for cat in category_count %}
                        <li>
                           <a href="#" class="d-flex">
                              <p>{{cat.categories__title}}</p>
                              <p>({{cat.categories__title__count}})</p>
                           </a>
                        </li>
                        {% endfor %}
                     </ul>
                  </aside>
                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Recent Post</h3>
                     {% for recent_post in most_recent %}
                     <div class="media post_item">
                        <img src="{{recent_post.image.url}}" height="80" width="80" alt="post">
                        <div class="media-body">
                           <a href="{{recent_post.get_absolute_url}}">
                              <h3>{{recent_post.title}}</h3>
                           </a>
                           <p>{{recent_post.created_date|date:'d M Y '}}</p>
                        </div>
                     </div>
                    {% endfor %}
                  </aside>
                  <aside class="single_sidebar_widget tag_cloud_widget">
                     <h4 class="widget_title">Tag Clouds</h4>
                     <ul class="list">
                        {% for tag in tag_count %}
                        <li>
                           <a href="#">{{tag.tags__title}}</a>
                        </li>
                       {% endfor %}
                     </ul>
                  </aside>
                  
                  <aside class="single_sidebar_widget newsletter_widget">
                     <h4 class="widget_title">Newsletter</h4>
                     <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                           <input type="email" name="email" class="form-control" onfocus="this.placeholder = ''"
                              onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Subscribe</button>
                     </form>
                  </aside>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->


{% endblock %}

{% block footer_content %}
{% include 'footer.html' with setting=setting %}
{% endblock %}