{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Blog Create - {{setting.name}} {{setting.surname}}{% endblock %}

{% block content %}
<!-- bradcam_area  -->
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>{{title}} an article</h3>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- /bradcam_area  -->
<div class="col-4 offset-4 mt-3 mb-5">
    {{form.media}}
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

{% endblock %}

{% block footer_content %}
{% include 'footer.html' with setting=setting %}
{% endblock %}