{% extends 'base.html' %}
{% load static %}
{% block title %} Portfolio - {{setting.name}} {{setting.surname}}{% endblock %}

{% block content %}

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Portfolio</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->

    <!-- portfolio_image_area  -->
    <div class="portfolio_image_area dec_margin">
        <div class="container">
            <div class="row">
                {% for portfolio in queryset %}
                <div class="col-xl-5 col-md-4">
                    <div class="single_Portfolio">
                        <div class="portfolio_thumb">
                            <img src="{{portfolio.image.url}}" height="400" width="100%" alt="">
                        </div>
                        <a href="{{portfolio.image.url}}" class="popup popup-image"></a>
                        <div class="portfolio_hover">
                            <div class="title">
                                    <h3>{{portfolio.title}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="more_portfolio text-center">
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                {% if queryset.has_previous %} 
                                <li class="page-item">
                                    <a href="?{{ page_request_var }}={{ queryset.previous_page_number }}" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                {% endif %}
                                <li class="page-item active">
                                    <a href="?{{ page_request_var }}={{ queryset.number }}" class="page-link">{{ queryset.number }}</a>
                                </li>
                                {% if queryset.has_next %}
                                <li class="page-item">
                                    <a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% include 'testimonial.html' with  testmonials=testmonials %}
    <!--/ portfolio_image_area  -->
{% endblock %}

{% block footer_content %}
{% include 'footer.html' with setting=setting %}
{% endblock %}