{% extends 'base.html' %}
{% load static %}
{% block title %} Search Results - {{setting.name}} {{setting.surname}}{% endblock %}

{% block content %}

 <!-- bradcam_area  -->
 <div class="bradcam_area bradcam_bg_1">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="bradcam_text text-center">
                  <h3>Search Results</h3>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /bradcam_area  -->

<div class="container mt-5 mb-5">
    <h4 class="text-center">This is the results of your search</h4>
    {% if queryset %}
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Overview</th>
            <th scope="col">İmage</th>
          </tr>
        </thead>
        <tbody>

            {% for post in queryset %}
          <tr>
            <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> </td>
            <td><a>{{ post.overview|truncatechars:150 }}</a> </td>
            <td><a href="{{ post.get_absolute_url }}"><img src="{{ post.image.url }}" width="350" height="200" alt=""></a> </td>
          </tr>
          {% endfor %}
          <tr>
        </tbody>
      </table>
      {% else %}
      <h4>Your search can not found, please check again</h4>
      {% endif %}
</div>
{% endblock %}

{% block footer_content %}
{% include 'footer.html' with setting=setting %}
{% endblock %}