{% extends 'base.html' %}
{% load static %}
{% block title %} Services - {{setting.name}} {{setting.surname}}{% endblock %}

{% block content %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Services</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /bradcam_area  -->
    <!-- service_area  -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-65">
                        <span>Service Provided</span>
                        <h3>Build brands campaigns  <br>
                                & digital projects</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for service in services %}
                <div class="col-xl-4 col-md-4">
                    <div class="single_service text-center">
                        <div class="icon">
                            <img src="{{service.image.url}}" width="60" height="60" alt="">
                        </div>
                        <h3>{{service.area}}</h3>
                        <p>{{service.description|safe}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--/ service_area  -->



    {% include 'testimonial.html' with  testmonials=testmonials %}

    {% endblock%}

    {% block footer_content %}
    {% include 'footer.html' with setting=setting %}
    {% endblock %}